export APP_HOME="$PWD"
export DRONE_SERVER="http://kubernetes-vm.${_SANDBOX_ID}.sslip.io:30980"
export DRONE_TOKEN="<your drone token>"
export REGISTRY_NAME=nexus.infra.svc.cluster.local
export IMAGE_REGISTRY_USER=admin
export IMAGE_REGISTRY_PASSWORD=admin123
export GITEA_USERNAME=user-01
export QSBD_GIT_REPO="${GITEA_USERNAME}/quarkus-springboot-demo"
export QSBD_GIT_REV="instruqt"

# add all your local settings here
source_env_if_exists .envrc.local

env_vars_required DRONE_TOKEN DRONE_GIT_REPO