export APP_HOME="$PWD"
export DRONE_SERVER=http://drone-127.0.0.1.sslip.io:30980
export DRONE_TOKEN=Bn5Lu8jpEDBHNhmZPA5yEQE4iKD8DHZM
export REGISTRY_NAME=myregistry.localhost
export REGISTRY_PORT=5001
export GITEA_USERNAME=user-01