export APP_HOME="$PWD"
export DRONE_SERVER=http://drone-127.0.0.1.sslip.io:30980
export DRONE_TOKEN=<your drone token>
export REGISTRY_NAME=nexus.infra.svc.cluster.local
# always 31081 for in cluster push and pull
#export REGISTRY_PORT=80
export IMAGE_REGISTRY_USER=admin
export IMAGE_REGISTRY_PASSWORD=admin123
export GITEA_USERNAME=user-01

##
GITEA_HTTP_CLUSTER_IP=$(kubectl get -n default svc gitea-http -ojsonpath='{.spec.clusterIP}'
)
export GITEA_HTTP_CLUSTER_IP

export MAVEN_MIRROR_URL='http://localhost:30081/repository/maven-public/'